---
// src/pages/leads.astro
import MainLayout from "../layouts/MainLayout.astro";
import DataTable from "../components/DataTable.tsx";
import "../styles/global.css";
---
<MainLayout title="Leads">
    <h1 class="font-bold">Tabla de Datos</h1>
    <DataTable client:load />

</MainLayout>