---

import LoginForm from "../components/LoginForm";
import "../styles/global.css";

---


<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Login</title>
  </head>
  <body class="flex items-center justify-center min-h-screen bg-gray-100">
    
    <LoginForm client:load />
  </body>
</html>