---
// src/pages/statistics.astro
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Estadísticas">
  <h2 class="text-xl font-bold mb-4 font-poppins">Estadísticas</h2>
  <!-- Aquí va el contenido de la página de estadísticas -->
</MainLayout>